openapi: 3.0.1
info:
  title: Greenly
  description: "Versão preliminar do API REST Greenly. Saiba mais sobre o nosso serviço em https://greenly.pt. Veja esta documentação de forma mais cómoda em https://bump.sh/doc/greenly"
  termsOfService: http://greenly.pt/terms/
  contact:
    email: support@greenly.pt
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.3.2
servers:
- url: https://api.greenly.pt
- url: http://api.greenly.pt
tags:
- name: auth
  description: Operações de autenticação
- name: user
  description: Operações sobre utilizadores
- name: transporter
  description: Operações orientadas a transportadores
- name: supplier
  description: Operações orientadas a fornecedores
- name: store
  description: Operações orientadas à loja
paths:
  ### AUTHENTICATION ROUTES
  /auth/login:
    post:
      tags:
      - auth
      summary: Autenticação do utilizador para pedidos subsequentes
      description: Obter _token_ JWT que permite autenticação em pedidos subsequentes
        quando incluido
      operationId: localLogin
      requestBody:
        description: Requer o envío de credenciais de utilizador válidas
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentAuthenticationData'
        required: true
      responses:
        200:
          description: Autenticação efectuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedToken'
        401:
          description: Autenticação sem sucesso. Poderá dar-se devido a um e-mail
            não registado ou a uma palavra-passe incorreta para o utilizador associado
            a o e-mail especificado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalAuthenticationError'
      x-codegen-request-body-name: body
  /auth/status:
    get:
      tags:
      - auth
      summary: Obtenção do estado atual de autenticação de um utilizador
      description: Permite descobrir se o _token_ JWT possuido pelo utilizador é atualmente válido
      operationId: checkAuthStatus
      responses:
        200:
          description: _Token_ válido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidStatusConfirmation'
        401:
          description: _Token_ inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'

  # USER ROUTES
  /user:
    get:
      tags:
      - user
      summary: Obter informação de todos os utilizadores
      description: Operação limitada a administradores
      operationId: getUsers
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedUser'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
    post:
      tags:
      - user
      summary: Criar utilizador
      operationId: createUser
      requestBody:
        description: |- 
                      Informação correspondente ao utilizador a criar.
                      
                      No caso da criação de um novo consumidor ou administrador (i.e. _type_ é 'CONSUMER' ou 'ADMINISTRATOR'):
                      * Apenas os campos _email_, _first_name_, _last_name_, _password_ e _type_ são absolutamente necessários

                      No caso da criação de um fornecedor ou transportador (i.e. _type_ é 'SUPPLIER' ou 'TRANSPORTER'):
                      * São necessários os mesmos campos que o consumidor, bem como informação adicional sobre a empresa (_company.name_ e _company.email_)

                      Notas:
                      * Qualquer outro campo não-essencial (_phone_, _company.bio_) poderá ser incluido, ou posteriormente preenchido através de [PUT /user/{userId}]().
                      * É possível atualizar qualquer atributo de um utilizador posteriormente, à excepção de _type_.
                      * Apenas um admninistrador autenticado pode criar novos administradores. Para qualquer outro tipo de utilizador não é necessária autenticação.

        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentUser'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedID'
        400:
          description: Dados inválidos
          content: {}
        403:
          description: Utilizador não autorizado (ao tentar criar um novo administrador sem ter permissões de administrador)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      x-codegen-request-body-name: body
      security:
        - bearerAuth: []

      
  /user/{userId}:
    get:
      tags:
      - user
      summary: Obter utilizador pelo respetivo userId
      description: A informação devolvida depende do nível de permissões do utilizador
        que faz o pedido
      operationId: getUserByName
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja informação se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedUser'
        400:
          description: userId inválido
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
      security:
        - bearerAuth: []
      
    put:
      tags:
      - user
      summary: Atualizar utilizador
      description: Apenas pode ser feito pelo utilizador quando autenticado (ou por
        um administrador)
      operationId: updateUser
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja informação se deseja atualizar
        required: true
        schema:
          type: integer
      requestBody:
        description: |-
          Atualiza o objeto User. Requere-se apenas que sejam enviados os parâmetros que seram alterados. (e.g. enviar um valor no parâmetro e-mail causará a sua atualização.
          
          No caso de atualização de password, deverão ser incluidos os parâmetros 'old_password', representativo da password atual do respetivo utilizador, e 'new_password', representativo do novo valor da password. 
          * Caso o valor do parâmetro 'old_password' não corresponda à atual password do utilizador, o pedido não será concluido.

        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateUser'
        required: true
      responses:
        204:
          description: Utilizador atualizado com sucesso
          content: {}
        400:
          description: Dados inválidos
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
        409:
          description: Valor unico fornecido está em conflito com valores de outros
            utilizadores (i.e. e-mail)
          content: {}
      security:
        - bearerAuth: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - user
      summary: Apagar utilizador
      description: Apenas pode ser feito pelo utilizador quando autenticado (ou por
        um administrador)
      operationId: deleteUser
      parameters:
      - name: userId
        in: path
        description: userId do utilizador que será removido
        required: true
        schema:
          type: integer
      responses:
        204:
          description: Utilizador removido com sucesso
          content: {}
        400:
          description: userId inválido
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
      security:
        - bearerAuth: []
  ## ADDRESS ROUTES
  /user/{userId}/addresses:
    post:
      tags:
        - user
      summary: Adicionar nova morada à coleção de moradas do utilizador
      description: Apenas pode ser feito pelo utilizador quando autenticado (ou por
        um administrador)
      operationId: createAddress
      parameters:
      - name: userId
        in: path
        description: userId do utilizador ao qual pertencerá a nova morada
        required: true
        schema:
          type: integer
      requestBody:
        description: |-
          Representa uma nova morada.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentAddress'
        required: true
      responses:
        201:
          description: Morada criada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador da nova morada"

        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []


  /user/{userId}/addresses/{addressId}:
    put:
      tags:
        - user
      summary: Atualizar uma morada do utilizador
      description: Apenas pode ser feito pelo utilizador quando autenticado (ou por
        um administrador)
      operationId: updateAddress
      parameters:
      - name: userId
        in: path
        description: userId do utilizador ao qual pertence a morada a alterar
        required: true
        schema:
          type: integer
      - name: addressId
        in: path
        description: addressId da morada a alterar
        required: true
        schema:
          type: integer
      requestBody:
        description: |-
          Representa as atualizações a aplicar à morada em questão.

          Apenas é necessário incluir os atributos que se desejam alterar. (e.g. se for só para alterar a rua, envia-se apenas o atributo _street_ e o respetivo valor).

          Caso se deseje tornar uma morada a principal para envio ou faturação, definindo _is_shipping_ ou _is_billing_ como _true_, qualquer outra morada será alterada, tal que, respetivamente, o seu campo _is_shipping_ ou _is_billing_ seja _false_.

          Na eventualidade de serem atualizados campos correspondentes à localização da morada (i.e. _street_, _city_, _country_ ou _postal_code_), a latitude e longitude da morada serão recalculadas.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddress'
      responses:
        201:
          description: Morada atualizada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Address updated succcessfully"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []

    delete:
      tags:
        - user
      summary: Apagar uma morada do utilizador
      description: Apenas pode ser feito pelo utilizador quando autenticado (ou por
        um administrador)
      operationId: deleteAddress
      parameters:
      - name: userId
        in: path
        description: userId do utilizador ao qual pertence a morada a apagar
        required: true
        schema:
          type: integer
      - name: addressId
        in: path
        description: addressId da morada a apagar
        required: true
        schema:
          type: integer
      responses:
        201:
          description: Morada apagada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Address deleted succcessfully"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []

  ## NOTIFICATION ROUTES

  /user/{userId}/notifications:
    get:
      tags:
      - user
      summary: Obter notificações do utilizador userId
      description: Devolve um array de notificações relativas às várias encomendas do utilizador
      operationId: getUserNotifications
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja lista de notificações se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
    put:
      tags:
      - user
      summary: Descartar todas as notificações
      description: Permite descartar/ler todas as notificações ao mesmo tempo
      operationId: dismissAllNotifications
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cujas notificações se deseja descartar
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
  /user/{userId}/notifications/{notificationId}:
    put:
      tags:
      - user
      summary: Descartar uma notificação
      description: Permite descartar/ler uma notificação específica
      operationId: dismissSingleNotification
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja notificação se deseja descartar
        required: true
        schema:
          type: integer
      - name: notificationId
        in: path
        description: código identificador da notificação do utilizador que se deseja descartar
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []

  ## ORDER ROUTES
  /user/{userId}/orders:
    get:
      tags:
      - user
      summary: Obter encomendas do utilizador userId
      description: "Devolve um array de encomendas associadas ao utilizador userId,\
        \ independentemente do seu tipo \n Apenas pode ser feito pelo utilizador quando\
        \ autenticado (ou por um administrador)"
      operationId: getUserOrders
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja lista de encomendas se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceivedOrder'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
    post:
      tags:
      - user
      summary: Criar encomenda
      description: "Criação de uma encomenda com base na combinação de produtos/fornecedores/transportadores presente no carrinho. Apenas pode ser feito pelo utilizador quando autenticado \nDeve\
        \ corresponder a um utilizador do tipo consumer."
      operationId: createOrder
      parameters:
      - name: userId
        in: path
        description: userId do utilizador a criar encomenda
        required: true
        schema:
          type: integer
      requestBody:
        description: Cria um objeto Order
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentOrder'
        required: true
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        400:
          description: Poderá corresponder a vários erros (moradas inválida, stock indisponível)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Your cart is empty. You can add items to it by using the cart manipulation endpoints.
                    - Invalid shipping destination. Make sure to use an address registered to your account.
                    - Invalid billing address. Make sure to use an address registered to your account.
                    - Some items included in your cart are no longer available in the quantities you requested. Please double-check your cart.
      security:
        - bearerAuth: []
  ## WISHLIST ROUTES
  /user/{userId}/wishlist:
    get:
      tags:
      - user
      summary: Obter items na wishlist
      description: |-
        Obter items que estão na wishlist do utilizador userId.
        Limita-se a consumidores autenticados.
      operationId: getWishlist
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja wishlist se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedWishlist'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
    post:
      tags:
      - user
      summary: Adicionar produto à wishlist
      description: |-
          Adicionar produto à wishlist do utilizador userId.
          Limita-se a utilizadores autenticados.
      operationId: addToWishlist
      parameters:
      - name: userId
        in: path
        description: userId do utilizador associado à wishlist à qual será
          adicionado um produto
        required: true
        schema:
          type: integer
      requestBody:
        description: Informação do produto a adicionar ao carrinho, deverá corresponder a um produto existente
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: integer
                  description: O código identificador do produto a adicionar à wishlist
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto mencionado não existe
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - The specified product does not exist.
        409:
          description: Produto já presente na wishlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Specified product is already in wishlist.

      security:
        - bearerAuth: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - user
      summary: Limpar todos os produtos da wishlist
      description: |-
        Permite retirar todos os produtos que estão na wishlist do utilizador userId. 
        Limita-se a consumidores autenticados.
      operationId: clearWishlist
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cuja wishlist se deseja limpar
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []

  /user/{userId}/wishlist/{productId}:
    delete:
      tags:
      - user
      summary: Remover produto específico da wishlist
      description: |-
        Remover produto correspondente ao código identificador fornecido da wishlist do utilizador userId. 
        Limita-se a consumidores autenticados.
      operationId: removeProductFromWishlist
      parameters:
      - name: userId
        in: path
        description: userId do utilizador associado à wishlist
        required: true
        schema:
          type: integer
      - name: productId
        in: path
        description: |-
          Código identificador do produto a remover da wishlist. 
          Deve corresponder a um produto atualmente na wishlist do utilizador.
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: productId inválido
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Specified product is not in wishlist.
      security:
        - bearerAuth: []
  ## CART ROUTES
  /user/{userId}/cart:
    get:
      tags:
      - user
      summary: Obter items no cesto de compras
      description: "Obter items que estão no cesto de compras do utilizador userId\
        \ \nLimita-se a utilizadores autenticados, o funcionamento para utilizadores\
        \ não autenticados é session-based"
      operationId: getCart
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cujo cesto de compras se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedCart'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
    post:
      tags:
      - user
      summary: Adicionar item ao cesto de compras
      description: "Adicionar item ao cesto de compras do\
        \ utilizador userId\n A quantidade deverá ser menor ou igual que o stock atual\
        \ do produto. \nLimita-se a utilizadores autenticados, o funcionamento para\
        \ utilizadores não autenticados é session-based"
      operationId: addToCart
      parameters:
      - name: userId
        in: path
        description: userId do utilizador associado ao cesto de compras ao qual será
          adicionado um produto
        required: true
        schema:
          type: integer
      requestBody:
        description: Informação do item a adicionar ao carrinho
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentCartItem'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
        400:
          description: Parâmetros inválidos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - "Requested quantity is higher than available stock."
                    - "Requested quantity is higher than available stock."
                    - "Minimum quantity is 1."

        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - user
      summary: Limpar todos os items no cesto de compras
      description: "Permite retirar todos os items que estão no cesto de compras do\
        \ utilizador userId \nLimita-se a utilizadores autenticados, o funcionamento\
        \ para utilizadores não autenticados é session-based"
      operationId: clearCart
      parameters:
      - name: userId
        in: path
        description: userId do utilizador cujo cesto de compras se deseja limpar
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []

  /user/{userId}/cart/{index}:
    put:
      tags:
      - user
      summary: Atualizar a quantidade de um item no carrinho
      description: "Permite alterar a quantidade de um item que se quer no carrinho. Este parâmetro tem um mínimo de 1, estando limitado ao stock atual do fornecedor em questão."
      operationId: updateItemInCart
      parameters:
      - name: userId
        in: path
        description: userId do utilizador associado ao cesto de compras
        required: true
        schema:
          type: integer
      - name: itemId
        in: path
        description: |-
          Indíce do item a remover do cesto de compras. Deve corresponder a um item atualmente no cesto de compras do utilizador."
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: index inválido
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Specified index is not valid. Check the content of your cart for updated indexes.
      security:
        - bearerAuth: []

    delete:
      tags:
      - user
      summary: Remover item do cesto de compras
      description: |-
        Remover item correspondente ao índice fornecido do cesto de compras do utilizador userId. 
        Limita-se a utilizadores autenticados, o funcionamento para utilizadores não autenticados é session-based."
      operationId: removeItemFromCart
      parameters:
      - name: userId
        in: path
        description: userId do utilizador associado ao cesto de compras
        required: true
        schema:
          type: integer
      - name: index
        in: path
        description: |-
          Índice do item a remover do cesto de compras. 
          Deve corresponder a um item atualmente no cesto de compras do utilizador.
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: index inválido
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Specified index is not valid. Check the content of your cart for updated indexes.
      security:
        - bearerAuth: []
  ### STORE ROUTES
  ## PRODUCT ROUTES
  /store/products:
    get:
      tags:
      - store
      summary: Obter todos os produtos na loja
      description: Devolve informação sobre todos os produtos na loja
      operationId: getProducts
      parameters:
      - name: sort
        in: query
        description: Ordem aplicada ao resultado devolvido
        schema:
          type: string
          enum:
          - price_asc
          - price_desc
          - name_desc
          - newest
          - oldest
      - name: limit
        in: query
        description: Limite de produtos a devolver
        schema:
          type: integer
      - name: page
        in: query
        description: Página de produtos a devolver
        schema:
          type: integer
      - name: category
        in: query
        description: Identificador da categoria de produtos a devolver
        schema:
          type: integer
      - name: keywords
        in: query
        description: Palavas-chave a incluir na pesquisa
        schema:
          type: array
          items:
            type: string
      - name: min_price
        in: query
        description: Preço mínimo dos produtos a apresentar
        required: false 
        schema:
          type: number
          format: float
      - name: max_price
        in: query
        description: Preço máximo dos produtos a apresentar
        required: false
        schema:
          type: number
          format: float
      - name: supplier
        in: query
        description: Código identificador do fornecedor dos produtos a apresentar
        required: false
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        400:
          description: Argumentos inválidos
    post:
      tags:
      - store
      summary: Criar produto
      description: "Criar um novo produto, disponibilizando a sua comercialização a fornecedores. Operação limitada a administradores"
      operationId: createProduct
      requestBody:
        description: Informação sobre o novo produto a criar
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentProduct'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador do novo produto"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Categoria inválida
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Invalid category. Make sure to specify a category registered on the website."
      security:
        - bearerAuth: []

  /store/products/{productId}:
    get:
      tags:
      - store
      summary: Obter produto pelo respetivo productId
      description: Devolve um objeto Product
      operationId: getProductById
      parameters:
      - name: productId
        in: path
        description: productId do produto cuja informação se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleProduct'
        400:
          description: productId inválido
          content: {}
        404:
          description: Produto não encontrado
          content: {}
    put:
      tags:
      - store
      summary: Atualizar produto
      description: "Altera os detalhes de um produto. Operação limitada a administradores"
      operationId: updateProduct
      parameters:
      - name: productId
        in: path
        description: productId do produto cuja informação se deseja atualizar
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza a informação do produto. Deverão apenas ser incluidos os atributos que se deseja alterar.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentUpdatedProduct'
        required: true
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Successfully updated product details."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto não encontrado ou categoria inválida
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Product not found. Make sure to specify a product currently registered on the website."
                    - Invalid category. Make sure to specify a category registered on the website.
      security:
        - bearerAuth: []
    delete:
      tags:
      - store
      summary: Apagar produto
      description: "Remove um produto da loja. Operação limitada a administradores"
      operationId: deleteProduct
      parameters:
      - name: productId
        in: path
        description: productId do produto que será removido
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Successfully deleted product, along with all corresponding images, supplies and transportation rules."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Product not found. Make sure to specify a product currently registered on the website."
      security:
        - bearerAuth: []
  ## Attribute Routes
  /store/products/{productId}/attributes:
    post:
      tags:
      - store
      summary: Adicionar um atributo a um produto
      description: "Permite que o administrador adicione atributos a um produto. Apenas pode ser feito por administradores"
      operationId: createProductAttribute
      parameters:
      - name: productId
        in: path
        description: productId do produto ao qual se deseja adicionar um atributo
        required: true
        schema:
          type: integer
      requestBody:
        description: Informação a incluir no novo atributo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentAttribute'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador do novo atributo (indexado por produto)"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto não encontrado
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Product not found. Make sure to specify a product currently registered on the website."
      security:
        - bearerAuth: []

  /store/products/{productId}/attributes/{attributeId}:
    delete:
      tags:
      - store
      summary: Remover um atributo de um produto
      description: "Permite remover um atributo específico de um produto. Apenas pode ser feito por administradores."
      operationId: deleteProductAttribute
      parameters:
      - name: productId
        in: path
        description: Identificador do produto ao qual se deseja remover um atributo
        required: true
        schema:
          type: integer
      - name: attributeId
        in: path
        description: "Identificador do atributo que se deseja remover (conforme indexação por produto)"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Atributo removido com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto não encontrado ou atributo inválido
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - Product not found. Make sure to specify a product currently registered on the website.
                    - Attribute not found. Make sure to specify an attribute related to the specified product.
      security:
        - bearerAuth: []
  
  ## Image Routes
  /store/products/{productId}/images:
    post:
      tags:
      - store
      summary: Adicionar uma imagem a um produto
      description: "Permite adicionar imagens a um produto. Apenas pode ser feito por administradores"
      operationId: createProductImage
      parameters:
      - name: productId
        in: path
        description: productId do produto ao qual se deseja adicionar uma imagem
        required: true
        schema:
          type: integer
      requestBody:
        description: Formato de envio Apenas são suportadas imagens nos formatos JPG, JPEG e PNG. Apenas são aceites imagens até 5MB.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SentImage'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador do novo atributo (indexado por produto)"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        400:
          description: Ficheiro inválido ou ausência de ficheiro
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Specified file is invalid. Make sure to provide a file under 5MB (supported filetypes: PNG, JPG and JPEG)."
                    - No file has been uploaded. Make sure to upload a valid file.
        404:
          description: Produto não encontrado
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Product not found. Make sure to specify a product currently registered on the website."
      security:
        - bearerAuth: []

  /store/products/{productId}/images/{imageId}:
    put:
      tags:
      - store
      summary: Atualizar posição de uma imagem
      description: "Altera a posição de uma imagem de um produto. Operação limitada a administradores"
      operationId: updateProductImagePosition
      parameters:
      - name: productId
        in: path
        description: productId do produto cuja imagem se deseja atualizar
        required: true
        schema:
          type: integer
      - name: imageId
        in: path
        description: Identificador da imagem cuja posição se deseja alterar
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza a posição da imagem.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentImageUpdate'
        required: true
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Successfully altered product image position."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto ou imagem não encontrados
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Product not found. Make sure to specify a product currently registered on the website."
                    - Image not found. Make sure to specify an image related to the specified product.
      security:
        - bearerAuth: []
    delete:
      tags:
      - store
      summary: Remover uma imagem de um produto
      description: "Permite remover uma imagem específica de um produto. Apenas pode ser feito por administradores."
      operationId: deleteProductImage
      parameters:
      - name: productId
        in: path
        description: Identificador do produto ao qual se deseja remover uma imagem
        required: true
        schema:
          type: integer
      - name: imageId
        in: path
        description: Identificador da imagem que se deseja remover
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Imagem removida com sucesso (implica remoção da rede de distribução de conteúdo estático)
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Produto ou imagem não encontrados
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Product not found. Make sure to specify a product currently registered on the website."
                    - Image not found. Make sure to specify an image related to the specified product.
      security:
        - bearerAuth: []


  ## Category Routes
  /store/categories:
    get:
      tags:
      - store
      summary: Obter todas as categorias de produtos
      description: "Devolve informação sobre todas as categorias de produtos existentes"
      operationId: getCategories
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceivedCategory'
    post:
      tags:
      - store
      summary: Criar uma nova categoria de produtos
      description: "Permite criar uma nova categoria (operação limitada a administradores)"
      operationId: createCategory
      requestBody:
        description: "Informação correspondente à nova categoria a criar. Requer o nome da mesma e o código identificador da categoria mãe (opcional)"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentCategory'
      responses:
        201:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    description: Código identificador da nova categoria
        400:
          description: Informação fornecida é inválida. (e.g. parent_category inválida)
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
      
  /store/categories/{categoryId}:
    put:
      tags:
      - store
      summary: Atualizar uma categoria específica pelo respetivo categoryId
      description: "Devolve uma mensagem de sucesso relativa à atualização da informação a categoria (operação limitada a administradores)"
      operationId: updateCategory
      parameters:
      - name: categoryId
        in: path
        description: categoryId da categoria cuja informação se deseja atualizar
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza o objeto Category, apenas os campos que se deseja atualizar têm que ser incluidos.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentCategory'
        required: true
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Category updated succcessfully"
        400:
          description: Informação fornecida é inválida. (e.g. parent_category inválida)
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
    delete:
      tags:
        - store
      summary: Apagar uma categoria de produtos
      description: Permite apagar uma categoria de produtos, desde que esta não tenha produtos ou sub-categorias associadas (operação limitada a administradores)
      operationId: deleteCategory
      parameters:
      - name: categoryId
        in: path
        description: categoryId da categoria que se pretende apagar
        required: true
        schema:
          type: integer
      responses:
        201:
          description: Categoria apagada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Category deleted succcessfully"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        409:
          description: Categoria não pode ser apagada pois tem sub-categorias ou produtos associados
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Category can't be deleted, includes products or sub-categories."
          
      security:
        - bearerAuth: []
  ## Supplier information route
  /store/suppliers:
    get:
      tags:
      - store
      summary: Obter informação sobre todos os fornecedores registados na plataforma.
      description: |-
        Permite obter informação básica sobre todos os fornecedores, bem como a quantidade de produtos que estes fornecem.
      operationId: getAllSuppliers
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedSuppliers'
  /store/transporters:
    get:
      tags:
      - store
      summary: Obter informação sobre todos os transportadores registados na plataforma.
      description: |-
        Permite obter informação básica sobre todos os transportadores, bem como a quantidade de produtos em que estes estão registados como opção de transporte.
      operationId: getAllTransporters
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedTransporters'


  ## ORDER ROUTES
  /store/orders:
    get:
      tags:
      - store
      summary: Obter encomendas
      description: "Devolve informação dinâmica sobre todas as encomendas relativas ao utilizador de onde originou o pedido. Diferentes utilizadores irão ver diferentes encomendas. Fornecedores e transportadores apenas verão encomendas onde estão registados como fornecedor ou transportador, administradores têm acesso a todas as encomendas."
      operationId: getOrders
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceivedOrder'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
      security:
        - bearerAuth: []
  /store/orders/{orderId}:
    get:
      tags:
      - store
      summary: Obter encomenda específica pelo respetivo orderId
      description: "Permitido apenas a utilizadores que estão relacionados de alguma forma com a encomenda (fornecem ou transportam algum produto). Irá devolver informação relativa apenas ao utilizador que efetua o pedido. Administradores têm acesso a todas as encomendas."
      operationId: getOrderById
      parameters:
      - name: orderId
        in: path
        description: orderId da encomenda cuja informação se deseja obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceivedOrder'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Encomenda não encontrada
          content:
            application/json:
              schema:
                properties:
                  message:  
                    type: string
                    enum:
                    - "The specified order identifier is invalid."
      security:
        - bearerAuth: []

  /store/orders/{orderId}/{itemId}:
    put:
      tags:
      - store
      summary: Atualizar item dentro de encomenda
      description: |- 
        Permite a alteração do estado de um item dentro da encomenda.

        Esta operação tem permissões dinâmicas, sendo permitida apenas a utilizadores que estejam relacionados de alguma forma com a encomenda, permitindo apenas acesso ao conjunto de itens que lhes dizem respeito.

        Consumidores podem alterar o item para o estado "CANCELED" caso este ainda não esteja no estado "IN_TRANSIT".

        Administradores podem alterar o item para o estado "CANCELED" a qualquer altura.

        Fornecedores podem alterar o item para do estado "PROCESSING" para o estado "AWAITING_TRANSPORT", ou para o estado "CANCELED", em caso de rotura de stock.

        Transportadores podem alterar o item, a partir do estado "AWAITING_TRANSPORT", para os seguintes estados:
        - "TRANSPORT_IMMINENT", simbolizando a chegada iminente do veículo de transporte ao armazém do fornecedor.
        - "IN_TRANSIT", simbolizando o levantamento da encomenda e inicio do transporte até ao destino.
        - "LAST_MILE", simbolizando a chegada iminente do veículo de transporte à morada de destino.
        - "COMPLETE", simbolizando a entrega da encomenda.

        Adicionalmente, transportadores podem também alterar estado da encomenda para "FAILURE" em caso de acidente durante o transporte ou falha de entrega em mão ao consumidor.

        Cada alteração de estado feita através desta rota desencadeia tipos de notificações diferentes, a entidades diferentes.

      operationId: updateOrder
      parameters:
      - name: orderId
        in: path
        description: orderId da encomenda a ser atualizada
        required: true
        schema:
          type: integer
      - name: itemId
        in: path
        description: itemId do item a ser atualizado, dentro da encomenda
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza o estado do item em questão
        content:
          application/json:
            schema:
              properties:
                status:
                  $ref: '#/components/schemas/OrderStatus'
        required: true
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceivedOrder'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        400:
          description: Problemas de várias causas
          content:
            application/json:
              schema:
                properties:
                  message:  
                    type: string
                    enum:
                    - You don't have permission to change the item's status from its current status to the specified status.
                    - "You can't change this item's status since this item has not yet been paid for."
                    - The status of this order item cannot be changed since it has already been canceled.
                    - The specified order item is already passed the specified status. Please specifiy a status ahead of the current status.

        404:
          description: Item não encontrado
          content:
            application/json:
              schema:
                properties:
                  message:  
                    type: string
                    enum:
                    - "The specified item identifier is invalid for the specified order."
      security:
        - bearerAuth: []

  /store/statistics:
    get:
      tags:
      - store
      summary: Obter estatísticas sobre a plataforma
      description: "Devolve informação sobre contagem de utilizadores, vendas, utilização de recursos e emissões poluentes totais e no último mês"
      operationId: getStoreStats
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceivedStats'


  ### TRANSPORTER ROUTES
  /transporter/{userId}/vehicles:
    get:
      tags:
      - transporter
      summary: Obter veículos associados ao transportador userId
      description: "Devolve um conjunto de veículos, conforme os veículos registados pelo transportador userId. Apenas pode ser feito pelo transportador quando autenticado, ou por um administrador"
      operationId: getVehicles
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador cujos veículos se deseja obter. Deve corresponder a um utilizador do tipo 'transporter'"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  vehicles:
                    items:
                      $ref: '#/components/schemas/ReceivedVehicle'
                  average_fleet_resource_usage:
                    type: number
                    format: float
                    description: A média de utilização de recursos do transportador para o envio de um produto, em l/100km (litros de combustível aos 100km), por parte de toda a sua frota.
                  average_fleet_resource_emissions:
                    type: number
                    format: float
                    description: A média de emissões poluentes do transportador para o envio de um produto, em CO2 g/km/t (gramas de CO2 por quilómetro por tonelada), por parte de toda a sua frota.
        400:
          description: userId inválido
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
      security:
        - bearerAuth: []
    post:
      tags:
      - transporter
      summary: Adicionar um novo veículo à coleção do transportador
      description: Apenas pode ser feito pelo transportador userId quando autenticado
      operationId: addVehicle
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador a registar o veículo. Deve corresponder a um utilizador do tipo transporter"
        required: true
        schema:
          type: integer
      requestBody:
        description: Cria um novo veículo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentVehicle'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador do novo veículo"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Centro de distribuição escolhido é inválido
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Distribution center not found. Make sure to specify a distribution center registered to your account."
        409:
          description: Matrícula especificada já em utilização
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "There is already a vehicle registered with this license plate."
      security:
        - bearerAuth: []

  /transporter/{userId}/vehicles/{vehicleId}:
    put:
      tags:
      - transporter
      summary: Atualizar veículo
      description: "Permite alterar detalhes de um veículo já registado. Apenas pode ser feito pelo transportador userId quando autenticado, ou por um administrador"
      operationId: updateVehicle
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador que registou o veículo. Deve corresponder a um utilizador do tipo 'transporter'"
        required: true
        schema:
          type: integer
      - name: vehicleId
        in: path
        description: "vehicleId do veículo a atualizar. Deve corresponder a um veículo pertencente à frota do transportador"
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza os detalhes do veículo. Só deverão ser especificados os atributos que se deseja atualizar.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentVehicle'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Successfully updated vehicle details."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Veículo não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Vehicle not found. Make sure to specify a vehicle registered to your account."
        409:
          description: Matrícula especificada já em utilização
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "There is already a vehicle registered with this license plate."
      security:
        - bearerAuth: []
    delete:
      tags:
      - transporter
      summary: Apagar veículo
      description: |- 
        Permite apagar um veículo, removendo-o da frota do transportador. Apenas pode ser feito pelo transportador userId quando autenticado. O veículo específicado não deverá ter encomendas associadas que estejam ainda no estado de transporte ("IN_TRANSIT" ou "LAST_MILE").
      operationId: deleteVehicle
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador que registou o veículo. Deve corresponder a um utilizador do tipo 'transporter'"
        required: true
        schema:
          type: integer
      - name: vehicleId
        in: path
        description: "vehicleId do veículo a remover. Deve corresponder a um veículo pertencente à frota do transportador"
        required: true
        schema:
          type: integer
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Successfully deleted vehicle."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Veículo não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Vehicle not found. Make sure to specify a vehicle registered to your account."
        409:
          description: Matrícula especificada já em utilização
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "There is already a vehicle registered with this license plate."
      security:
        - bearerAuth: []
  ## DISTRIBUTION CENTER ROUTES
  /transporter/{userId}/centers:
    get:
      tags:
      - transporter
      summary: Obter centros de distribuição associados ao transportador userId
      description: "Devolve um array de centros de distribuição registados pelo transportador userId. Apenas pode ser feito pelo transportador quando autenticado, ou por um administrador"
      operationId: getDistributionCenters
      parameters:
      - name: userId
        in: path
        description: userId do transportador cujos centros de distribuição se deseja
          obter
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  items:
                    $ref: '#/components/schemas/SimplifiedDistributionCenter'
        400:
          description: userId inválido
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
      security:
        - bearerAuth: []
    post:
      tags:
      - transporter
      summary: Adicionar centro de distribuição
      description: "Adiciona um novo centro de distribuição ao conjunto de centros de distribuição do transportador. Apenas pode ser feito pelo transportador quando autenticado, ou por um administrador"
      operationId: addDistributionCenter
      parameters:
      - name: userId
        in: path
        description: userId do transportador ao qual se vai adicionar um novo centro
          de distribuição
        required: true
        schema:
          type: integer
      requestBody:
        description: Cria um novo centro de distribuição, adicionando-o à coleção de
          centros de distribuição do transportador. A morada selecionada deverá estar registada na conta do transportador e não deverá estar em utilização por outro centro de distribuição.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentDistributionCenter'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador do novo centro de distribuição"
        400:
          description: Morada escolhida é inválida
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Invalid address. Make sure to use an address registered to your account."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
        409:
          description: Morada escolhida já em utilização
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "This address is already registered to another distribution center in your account."
      security:
        - bearerAuth: []

  /transporter/{userId}/centers/{centerId}:
    get:
      tags:
      - transporter
      summary: Obter informação sobre um centro de distribuição do transportador
        userId
      description: "Devolve um centro de distribuição, incluindo todos os veículos associados. Apenas pode ser feito pelo transportador quando autenticado, ou por um administrador"
      operationId: getCenterById
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador cuja informação se deseja saber. Deve corresponder a um utilizador do tipo transporter."
        required: true
        schema:
          type: integer
      - name: centerId
        in: path
        description: "centerId do centro de distribuição cuja informação se deseja saber. Deve corresponder a um centro de distribuição associado ao utilizador userId"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  items:
                    $ref: '#/components/schemas/ExpandedDistributionCenter'
        400:
          description: userId inválido
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Armazém não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Distribution center not found. Make sure to specify a distribution center registered to your account."
      security:
        - bearerAuth: []
    put:
      tags:
      - transporter
      summary: Atualizar centro de distribuição
      description: "Permite atualizar um centro de distribuição centerId associado ao transportador. Apenas pode ser feito pelo transportador userId quando autenticado ou por um administrador."
      operationId: updateDistributionCenter
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador associado ao centro de distribuição. Deve corresponder a um utilizador do tipo transporter"
        required: true
        schema:
          type: integer
      - name: centerId
        in: path
        description: "centerId do centro de distribuição a ser atualizado. Deve corresponder a um centro de distribuição associado ao utilizador userId"
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza o objeto centro de distribuição. Apenas deverão ser incluidos os atributos que se deseja alterar. A morada selecionada deverá estar registada na conta do transportador e não deverá estar em utilização por outro centro de distribuição.
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentDistributionCenter'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  items:
                    $ref: '#/components/schemas/ExpandedDistributionCenter'
        400:
          description: userId inválido
          content: {}
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Armazém não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Distribution center not found. Make sure to specify a distribution center registered to your account."
        409:
          description: Morada escolhida já em utilização
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "This address is already registered to another distribution center in your account."
      security:
        - bearerAuth: []
    delete:
      tags:
      - transporter
      summary: Remover centro de distribuição
      description: "Permite remover um centro de distribuição centerId associado ao transportador. Apenas pode ser feito pelo transportador userId quando autenticado ou por um administrador"
      operationId: deleteDistributionCenter
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador associado ao centro de distribuição. Deve corresponder a um utilizador do tipo transporter"
        required: true
        schema:
          type: integer
      - name: centerId
        in: path
        description: "centerId do centro de distribuição a ser removido. Deve corresponder a um centro de distribuição associado ao utilizador userId"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Centro de distribuição removido com sucesso.
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Armazém não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Distribution center not found. Make sure to specify a distribution center registered to your account."
        409:
          description: Centro de distribuição ainda com veículos
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "This distribution center cannot be deleted since there are vehicles registered to it. Remove all vehicles in this distribution center before attempting to delete it."
      security:
        - bearerAuth: []


  ### SUPPLIER ROUTES
  ## INVENTORY
  /supplier/{userId}/inventory:
    get:
      tags:
      - supplier
      summary: Obter informação de inventário do fornecedor pelo respetivo userId
      description: Devolve um array de itens, representando os produtos atualmente em venda pelo fornecedor
      operationId: getInventory
      parameters:
      - name: userId
        in: path
        description: userId do fornecedor cuja informação sobre inventário se deseja
          obter
        required: true
        schema:
          type: integer
      - name: warehouse
        in: query
        description: Filtro de armazém que se deseja aplicar à pesquisa, deverá corresponder a um armazém registado na conta do utilizador.
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - newest
          - oldest
          - price_asc
          - price_desc
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  items:
                    $ref: '#/components/schemas/SimplifiedReceivedSupply'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Utilizador não encontrado
          content: {}
      security:
        - bearerAuth: []
    post:
      tags:
      - supplier
      summary: Adicionar fornecimento de item
      description: "Permite que o fornecedor venda um novo produto. Apenas pode ser feito pelo fornecedor quando autenticado"
      operationId: createSupply
      parameters:
      - name: userId
        in: path
        description: userId do fornecedor ao qual se vai adicionar um novo fornecimento
        required: true
        schema:
          type: integer
      requestBody:
        description: O produto referido deverá estar previamente registado na lista de produtos vendidos na loja, e o armazém especificado deverá estar registado na conta do fornecedor
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentSupply'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  id:
                    type: integer
                    description: "Código identificador do novo fornecimento"
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Armazém ou produto inválidos
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    enum:
                    - "Invalid warehouse. Make sure to use a warehouse registered to your account."
                    - "Invalid product. Make sure to specify a product registered on the website."
        409:
          description: Produto já presente no armazém especificado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "This product is already being sold from this warehouse. Update your pre-existing supply or select a new product/warehouse combination."
      security:
        - bearerAuth: []
  /supplier/{userId}/inventory/{supplyId}:
    get:
      tags:
      - supplier
      summary: Obter informação sobre um fornecimento específico
      description: Devolve um objeto representante do fornecimento supplyId
        e todos os seus detalhes
      operationId: getSupplyById
      parameters:
      - name: userId
        in: path
        description: "userId do fornecedor cuja informação se deseja saber. Deve corresponder a um utilizador do tipo supplier."
        required: true
        schema:
          type: integer
      - name: supplyId
        in: path
        description: "Identificador do fornecimento cuja informação se deseja obter. Deve corresponder a um fornecimento associado ao fornecedor userId."
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema:
                properties:
                  items:
                    $ref: '#/components/schemas/ExpandedReceivedSupply'
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Fornecimento não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Supply not found. Make sure to specify an item you're currently selling."
      security:
        - bearerAuth: []
    put:
      tags:
      - supplier
      summary: Atualizar um fornecimento específico
      description: "Permite alterar um item específico vendido pelo fornecedor. Apenas pode ser feito pelo fornecedor userId quando autenticado"
      operationId: updateSupply
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador que atualmente fornece o item. Deve corresponder a um utilizador do tipo supplier"
        required: true
        schema:
          type: integer
      - name: supplyId
        in: path
        description: supplyId do item a ser atualizado. Deve corresponder a um item atualmente vendido pelo fornecedor
        required: true
        schema:
          type: integer
      requestBody:
        description: Atualiza o fornecimento. Apenas os campos que se deseja alterar deverão ser especificados
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentSupplyUpdate'
        required: true
      responses:
        200:
          description: Operação efetuada com sucesso
          content:
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Successfully updated supply details."
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Fornecimento não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Supply not found. Make sure to specify an item currently registered to your account."
      security:
        - bearerAuth: []
    delete:
      tags:
      - supplier
      summary: Remover fornecimento de item
      description: "Apenas pode ser feito pelo fornecedor userId quando autenticado. Aviso: esta operação irá apagar todas as relações entre este fornecimento e os correspondentes transportadores."
      operationId: deleteSupply
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador que atualmente fornece o item. Deve corresponder a um utilizador do tipo supplier"
        required: true
        schema:
          type: integer
      - name: supplyId
        in: path
        description: "Identificador do item a deixar de fornecer. Deve corresponder a um item atualmente fornecido pelo utilizador"
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Fornecimento removido com sucesso
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Fornecimento não encontrado
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                    - "Supply not found. Make sure to specify an item currently registered to your account."
      security:
        - bearerAuth: []

  /supplier/{userId}/inventory/{supplyId}/transports:
    post:
      tags:
      - supplier
      summary: Adicionar um transporte a um fornecimento
      description: Permite registar um transportador como opção de transporte para o fornecimento em questão
      operationId: createSupplyTransport
      parameters:
      - name: userId
        in: path
        description: "userId do utilizador que atualmente fornece o item. Deve corresponder a um utilizador do tipo supplier"
        required: true
        schema:
          type: integer
      - name: supplyId
        in: path
        description: "Identificador do item ao qual se irá adicionar uma opção de transporte. Deve corresponder a um item atualmente fornecido pelo utilizador"
        required: true
        schema:
          type: integer
      requestBody:
        description: Cria uma nova opção de transporte. 
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SentSupplyTransport'
        required: true
      responses:
        201:
          description: Operação efetuada com sucesso
          content: 
            application/json:
              schema: 
                properties:
                  message:
                    type: string
                    enum:
                      - Transport option succesfully added to supply.
        401:
          description: "_Token_ inválido. Utilizador não autenticado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAccessError'
        403:
          description: Utilizador não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientPermissionsError'
        404:
          description: Fornecimento ou transportador inválido
          content:
            application/json:
              schema:
[...]
